.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 3.5rem;
    border-bottom: solid 1px #3d3f7b4c;
    box-shadow: 0 0 29px #3c3c3c6b;
    

}

