<div class="wrapper" [perfectScrollbar]="config">
    <div class=" d-flex flex-wrap">
        <div class="block-repo animate__animated animate__fadeInUp animation-{{i*2}} col-12 col-sm-12 col-md-12 col-lg-4" *ngFor="let item of repos; let i = index">
            <div class="block-repo-in d-flex">
                <div class="left d-flex">
                    <div class="top">
                    <div class="date" >{{item.created_at |date}}</div>
                    <div class="title">{{item.name}}</div>
                    <div class="description">{{item.description}}</div></div>

                    <div class="preview" (click)='openNewTab(item.img)' *ngIf="item.id!==310342689"> 
                    <div class="top">Quick preview </div>
                        <img src={{item.img}}>
                        <span class="previewFooter">Click on image to see it full resolution</span>
                    </div>

                    <div class="noPreview" *ngIf="item.id==310342689"> 
                        <div> No previews available yet! </div>
                    </div>

                </div>

                <div class="right d-flex">
                    <div class="top">
                        <a [href]="item.html_url" target="_blank"><i class="uil uil-github"></i></a>
                        
                    </div>
                    <div class="bottom">
                        <a [href]="item.homepage" target="_blank" *ngIf="item.homepage"><i class="uil uil-external-link-alt" ></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>